<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Title</title>
</head>
<body>
<div class="main-block">
    <img src="{{ img_path }}">
    <div class="form-block">
      <form action="/calculate" method="POST">
        <div class="row">
            {% for param in form_params %}
                <div class="col">
                    <h1>{{ param }}</h1>
                    {% for input_place in form_params[param] %}
                        <input type="text" placeholder="{{ input_place['placeholder'] }}" name="{{ input_place['name'] }}" class="form-control">
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn-primary mb-2 btn">Submit</button>
      </form>
    </div>
</div>
</body>
</html>